#set-card-rules.set-rules
  %h1 Instructions
  %p
    The object of the game is to identify a
    %b SET
    of 3 cards from 12 cards placed face up on the game table. Each card has four features, which can vary as follows:

  %p
    %b SHAPE
  %ul
    %li Ovals,
    %li Squiggles,
    %li or Diamonds

  %p
    %b COLOR
  %ul
    %li Red,
    %li Purple,
    %li or Green

  %p
    %b NUMBER
  %ul
    %li One,
    %li Two,
    %li or Three
      
  %p
    %b SHADING
  %ul
    %li Solid,
    %li Striped,
    %li or Outlined
  
  %p
    A
    %b SET
    consists of 3 cards in which each of the cards' features, looked at one-by-one, are the
    %i same
    on each card, or are
    %i different
    on each card. All of the features must separately satisfy this rule. In other words:
    %i shape
    must be either the same on all 3 cards, or different on each of the 3 cards;
    %i color
    must be either the same on all 3 cards, or different on each of the 3, etc.
    SET INSTRUCTIONS
    
  %p
    Number of Players: 1 or more

    The object of the game is to identify a SET of 3 cards from 12 cards 

    placed face on the the app. Each card has four featurs, which can 
    
    vary: 

    %b Shape 
    %b Color
    %b Number
    %b Shading

  %p
    %b A QUICK CHECK - Is it a SET?

    if 2 cards are the same and 1 card is different in any feature, then 

    it is not a SET. For example, if 2 are red and 1 is purple then it is 

    not a SET. A SET must be either all the same OR all different in each 

    individual feature. 
  
  %p
    %b EASY START

    For a quick introduction, start with the small deck(just the solid 

    symbols). This eliminates one feature, shading. Once you can quickly 

    see a SET when playing the 3 feature version, shuffle the 2 decks 

    together to play the full game. 
  
  %p
    
    %b THE PLAY

    The dealer shuffles the cards and lays 12 face up on the table
    (in a rectangle) so that they can be seen by all. Players remove SETs 

    of 3 cards from anywhere on the table. Each SET is checked by the 

    other players. if correct, the SET is kept by the player for one 

    point and the dealer replaces the 3 cards with 3 from the deck. A 

    player must call SET before picking up the cards. There are no turns, 

    the first player to call SET gets control of the board. After he/she 

    has called SET, no other player can pick up cards until that player 

    has finished. The SET must be picked up within a few seconds after 

    calling it. if a player calls SET and does not have one, or if the 

    SET is incorrect, he or she loses one point, and the 3 cards are 

    returned to the table. 