.home
  .button= link_to "Play", "/setcardgame"
  .button= link_to "Rules", "/setrules"
  .button= link_to "Profile", "/account/profile"
  .button= link_to "Settings", "/account/settings"
  .button
    %span
      %strike Stats
      (Coming Soon)
  .button
    %span
      %strike Friends
      (Coming Soon)