%h1 Home#show
%p Find me in app/views/home/show.html.haml

%table
    %tbody
    %tr
        %td.button Play
        %td.button Rules
    %tr
        %td.button Profile
        %td.button Stats
    %tr
        %td.button Settings
        %td.button Friends