%h1Account#profile
%p "Find me in app/views/account/profile.html.erb"

%h2.button Reset stats
%table
    %th Profile Visibility
    %tbody
    %tr
        %td.radarbutton Visible
        %td.radarbutton Invisible