// Place all the styles related to the setcardgame controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.set-game {
    div {
        box-sizing: border-box;
        display: inline-block;
        width: 140px;
        height: 180px;
        padding: 20px;
        text-align: center;
    }

    .selected {
        &::before {
            content: '';
            display: block;
            width: 4px;
            height: 8px;
            border: solid black;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
        }
    }
}
